@model IEnumerable<Sunvalley_PLSystem.Models.Services>

@{
    ViewBag.Title = "Index";


    Layout = "~/Views/Shared/_Layout.cshtml";
    Sunvalley_PLSystem.Models.Services mensaje = ViewBag.mensaje;

}

<h2>List of Services</h2>

<p>
   
    <input type="button" value="Create" onclick="location.href='@Url.Action("Create","Service")'" />
</p>
<table id="Services" class="table table-striped table-hover  table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <span class="fa fa-pencil-square-o"></span> @Html.ActionLink("Edit", "Edit", new { id=item.serviceID }) |
            <span class="fa fa-trash"></span>@Html.ActionLink("Delete", "Delete", new { id = item.serviceID })
        </td>
    </tr>
}

</table>




<h4>General Information</h4>

@using (Html.BeginForm("GeneralInfo", "Service","GET"))
{


                <textarea  rows="8"  type="text" style="width: 511px;"    name="mensaje" required >
                  @mensaje

                </textarea>

                
                <input style="margin-top: -28px;" type="submit" value="Save" class="btn btn-default" />

}
