@model Sunvalley_PLSystem.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicationUser</h4>
    <hr />
   
    <table id="Delete" class="table-striped table table-responsive table-hover" >
        <tr>
        <th> @Html.DisplayName("First Name")</th>

<td>
    @Html.DisplayFor(model => model.firstName)
</td>
        </tr>
        
        <tr>
        <th >
            @Html.DisplayName("Last Name")
        </th>

        <td>
            @Html.DisplayFor(model => model.lastName)
        </td>
            </tr>


        <tr>
        <th>
            @Html.DisplayName("Create At")
        </th>

        <td>
            @Html.DisplayFor(model => model.createAt)
        </td>
            </tr>

        <tr>
        <th>
            @Html.DisplayName("Company")
        </th>

        <td>
            @Html.DisplayFor(model => model.company)
        </td>
            </tr>

        <tr>
        <th>
            @Html.DisplayName("Adress")
        </th>

        <td>
            @Html.DisplayFor(model => model.adress1)
        </td>
            </tr>

        <tr>
        <th>
            @Html.DisplayName("City")
        </th>

        <td>
            @Html.DisplayFor(model => model.city)
        </td>

            </tr>

        <tr>
        <th>
            @Html.DisplayName("Country")
        </th>

        <td>
            @Html.DisplayFor(model => model.country)
        </td>
            </tr>

        <tr>
            <th>
                @Html.DisplayName("Postal Code")
            </th>

            <td>@Html.DisplayFor(model => model.postalCode)</td>
        </tr>
       
           
       
        <tr>

            <th>
                @Html.DisplayName("Home Phone")
            </th>

            <td>
                @Html.DisplayFor(model => model.homePhone)
            </td>

        </tr>
        

        @*<dt>
                @Html.DisplayName("Bussnies")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.businessPhone)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.businesFax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.businesFax)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.mobilePhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mobilePhone)
            </dd>*@




        <tr>

            <th>
                @Html.DisplayName("E-mail")
            </th>

            <td>
                @Html.DisplayFor(model => model.Email)
            </td>

        </tr>
       

        <tr>

            <th>
                @Html.DisplayName("Phone Number")
            </th>

            <td>
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>



        </tr>
      

    </table>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
