@model Sunvalley_PLSystem.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businessPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businessPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.businesFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.businesFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    @Html.ActionLink("Create new house", "Create", "Houses", new { id = Model.Id }, null)
    <table class="imprimible table-striped col-md-12" style="margin-top:20px;" id="tableMovements">
        <tr>
            @*<th>
                    @Html.DisplayName("Name of house")
                </th>*@
            <th>
                @Html.DisplayName("Name")
            </th>

            <th>
                @Html.DisplayName("Status")
            </th>

            <th>
                @Html.DisplayName("Created")
            </th>

            <th>
                @Html.DisplayName("Area")
            </th>
            <th>
                @Html.DisplayName("Adress")
            </th>
            <th>
                @Html.DisplayName("City/Area")
            </th>
            <th>
                @Html.DisplayName("Country")
            </th>
            <th>
                @Html.DisplayName("State Province")
            </th>
            <th>
                @Html.DisplayName("Postal Code")
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model.Houses)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>*@
                <td>
                    @Html.DisplayFor(model => item.name)
                </td>

                <td>
                    @Html.DisplayFor(model => item.status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.created)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cityArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stateProvince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.postalCode)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>*@


                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Administrador"))
                    {

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.houseID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.houseID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.houseID })
                        </td>
                    }
                }
            </tr>
        }

    </table>
</div>
