@model IEnumerable<Sunvalley_PLSystem.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>*@
<link href="@Url.Content("~/Content/Estilos.css")" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="panel panel-warning">
        <div  id="hPanel" class="panel-heading hidden-print">
           
                <strong style="text-align:center"><h4>All Owners</h4></strong>     <span class="fa fa-plus-circle"></span>@Html.ActionLink("Create New", "Register")
            </div>
        <div id="BodyOwners" class="panel-body" style="margin-top:-8px; width:100%; ">
            <table id="tabla" class="table table-striped table-hover  table-responsive" style="margin-top:20px; width:100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Last Name")
                        </th>
                        <th>
                            @Html.DisplayName("Country")
                        </th>
                        <th>
                            @Html.DisplayName("Mobile Phone")
                        </th>
                        <th>
                            @Html.DisplayName("E-mail")
                        </th>
                        <th class="hidden-print">
                            @Html.DisplayName("Actions")
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.firstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.mobilePhone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="hidden-print">
                                <span class="fa fa-pencil-square-o"></span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                <span class="fa fa-reorder"></span>@Html.ActionLink("Houses", "Details", new { id = item.Id }) |
                                <span class="fa fa-trash"></span>@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                <span class="fa fa-trash"></span>@Html.ActionLink("Report", "profitAndLossTotal", new { id = item.Id }) 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    
    <input type="button" class="dt-button-print hidden-print"
           onClick="window.print()"
           value="Print This Report" />
    
    </div>
