@model IEnumerable<Sunvalley_PLSystem.Models.Movement>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Loss = ViewBag.Loss;
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Profit = ViewBag.Profit;
    DateTime fecha1 = ViewBag.fecha1==null?DateTime.Now: (DateTime)ViewBag.fecha1;
    DateTime fecha2 = ViewBag.fecha2 == null ? DateTime.Now : (DateTime)ViewBag.fecha2;
    bool onlyContributions = ViewBag.onlyContributions == null ? false : ViewBag.onlyContributions;

    ViewBag.Title = onlyContributions?"Contributions":"Profit and Loss";

    IEnumerable<Sunvalley_PLSystem.Models.Movement> Contributions = ViewBag.Contribution;
    decimal totalContribution = 0;
    if(Contributions!=null && Contributions.Count() > 0)
    {
        totalContribution = Contributions.Sum(con => con.amount);
    }

    Sunvalley_PLSystem.Models.House H = ViewBag.House;
    String id = ViewBag.Id;
    int? idHouse = ViewBag.idHouse;

    String mensaje = ViewBag.mensaje;
    String NombreCompleto = ViewBag.NombreCompleto;
    String HAD = ViewBag.HAD;
    String CCSP = ViewBag.CCSP;
    String Apellido = ViewBag.Apellido;

    Boolean? firstSearch = ViewBag.firstSearch!=null?true:false;
}

@if (onlyContributions)
{
    <h2>Contributions Report</h2>
}
else
{
    <h2>Profit And Loss</h2>
}

@if (User.IsInRole(Sunvalley_PLSystem.Models.ApplicationUser.RoleNames.ADMINISTRADOR))
{
    <a href="@Url.Action("Index","Houses", new { userID = H!=null?H.Id:id })" class="hidden-print">
        <i class="fa fa-reply hidden-print"></i> Back to houses list
    </a>
}
else
{
    <a href="@Url.Action("Index","Houses")" class="hidden-print">
        <i class="fa fa-reply hidden-print"></i> Back to houses list
    </a>
}
<span class="hidden-print">
    @if (!firstSearch.Value)
    {
        <span>|</span>
        if (idHouse != null && idHouse != 0)
        {
            <a href="@Url.Action("profitAndLossHouse","Account", new { idHouse = idHouse, onlyContributions = onlyContributions })">
                <i class="fa fa-reply hidden-print"></i> Select another period
            </a>
        }
        else if (!String.IsNullOrEmpty(id))
        {
            <a href="@Url.Action("profitAndLossTotal","Account", new { id = id , onlyContributions = onlyContributions})">
                <i class="fa fa-reply hidden-print"></i> Select another period
            </a>
        }
    }
</span>

@*Datos de Encabezado de reporte*@
<div id="empresa_info" class="row visible-print">
    <div class="col-md-6 pull-right">
        <img id="logo" class="col-md-6" src="~/Imagenes/sunvalley_logo.png" alt="SUN VALLEY SERVICES" />
        <div id="logo_legend" class="col-md-6">
            <p>
                @Html.Raw(mensaje.Replace(Environment.NewLine, "<br/>"))
            </p>
        </div>
    </div>
</div>
<div id="InfoCliente" class="visible-print">
    <div class="col-md-6">
        <div id="InfoCliente" class="visible-print" style="margin-top:-75px;padding-bottom:20px">
            @NombreCompleto
            @if(!String.IsNullOrEmpty(HAD)){<br /> @HAD}
            @if(!String.IsNullOrEmpty(CCSP)){<br />@CCSP}
            @if (ViewBag.fecha1 != null)
            {
                <br />
                @("From: "+fecha1.ToString("MMM/dd/yyyy"))
            }
            @if (ViewBag.fecha2 != null)
            {
                <br />
                @("To: " + fecha2.ToString("MMM/dd/yyyy"))
            }
        </div>
    </div>
</div>

@if (H != null) { //Si este reporte es por casa
    //Muestro los detalles la casa sobre la que se está haciendo el reporte
@Html.Partial("../Houses/Partial_HouseDetails",H)
}

@if (Model != null)
{
    <div class="hidden-print">
        <strong>From: </strong><span>@(fecha1.ToString("MMM/dd/yyyy"))</span> 
        <strong>To: </strong><span>@(fecha2.ToString("MMM/dd/yyyy"))</span>
    </div>

    if (onlyContributions) { 
    @*Contributions*@
    <div id="pnlContributions" class="panel panel-warning" style="background-color:white; width:100%">
        <div class="panel-heading">
            <span>Contributions</span>
        </div>
        <div class="panel-body">
            <table id="" class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        @if (idHouse == null || idHouse == 0)
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.house.name)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.transactionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                    </tr>
                </thead>

                @if (!Profit.Any())
                {
                    <tbody class="hidden-print">
                        <tr><td>No movements were found in this period.</td></tr>
                    </tbody>
                }
                else
                {

                    <tbody>
                        @foreach (var item in Contributions)
                        {
                            <tr>
                                @if (idHouse == null || idHouse == 0)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.house.name)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.transactionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td style="text-align:right" colspan="@(idHouse == null || idHouse == 0 ? 3:2)">
                                <strong>Total</strong>
                            </td>
                            <td>@totalContribution.ToString("C")</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
    }else { 

    @*Profit*@
    <div id="pnlIncome" class="panel panel-warning" style="background-color:white; width:100%">
        <div class="panel-heading">
            <span>Income</span>
            <button class="btn btn-info pull-right hidden-print">
                <i class="fa fa-print"></i> <span onclick="printPanelIncome()">Print</span>
            </button>
        </div>
        <div class="panel-body">
            <table id="" class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        @if (idHouse == null || idHouse == 0)
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.house.name)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.services.name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.transactionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.typeOfMovement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                    </tr>
                </thead>

                @if (!Profit.Any())
                {
                    <tbody class="hidden-print">
                        <tr><td>No movements were found in this period.</td></tr>
                    </tbody>
                }
                else
                {

                    <tbody>
                        @foreach (var item in Profit)
                        {
                            <tr>
                                @if (idHouse == null || idHouse == 0)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.house.name)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.services.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.transactionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.typeOfMovement)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
    
    @*loss*@
    <div id="pnlExpenses" class="panel panel-warning" style="background-color:white">
        <div class="panel-heading">
            <span>Expenses</span>
            <button class="btn btn-info pull-right hidden-print">
                <i class="fa fa-print"></i> <span onclick="printPanelExpenses()">Print</span>
            </button>
        </div>
        <div class="panel-body">
            <table id="" class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        @if (idHouse == null || idHouse == 0)
                        {
                            <th>
                                @Html.DisplayNameFor(model => model.house.name)
                            </th>
                        }
                        <th>
                            @Html.DisplayNameFor(model => model.services.name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.transactionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.typeOfMovement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.balance)
                        </th>*@
                    </tr>
                </thead>
                @if (!Loss.Any())
                {
                    <tbody>
                        <tr><td>No movements were found in this period.</td></tr>
                    </tbody>
                }
                else
                {

                <tbody>
                @foreach (var item in Loss)
                {
                    <tr>
                        @if (idHouse == null || idHouse == 0)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.house.name)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.services.name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.transactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeOfMovement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                    </tr>
                }
                </tbody>
                }
            </table>
            </div>
        </div>
    
    @*Total*@
    <div id="pnlTotals" class="panel panel-warning" style="background-color:white">
        <div class="panel-heading">
            Totals
        </div>
        <div class="panel-body">
            <table id="" class="table table-bordered table-hover table-responsive table-striped col-md-12  " style="margin-top:20px;padding:0px;width:50%;">
                <tr>
                    <th> @Html.DisplayName("Income")</th>

                    <td>
                        @String.Format("{0:C}", ViewBag.TotalProfit)
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayName("Expense")</th>

                    <td>
                        @String.Format("{0:C}",@ViewBag.TotalLoss)
                    </td>
                </tr>
           
                <tr>
                    <th>@Html.DisplayName("Total Profit")</th>
                    @if (ViewBag.Total < 0)
                    {
                    <td style="color:red">
                        @String.Format("{0:C}",@ViewBag.Total)
                    </td>
                    }
                    else {
                    <td>
                        @String.Format("{0:C}",@ViewBag.Total)
                    </td>
                    }
                </tr>
            </table>
        </div>
</div>
    }
}
else
{
    @*Formato de seleccion de fechas del reporte*@
    <div class="panel panel panel-warning">
        <div class="panel-heading hidden-print">
            PLEASE SELECT PERIOD TO CREATE REPORT
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                    @Html.Hidden("onlyContributions", onlyContributions)
                    @if (ViewBag.Tipo == "Total")
                    {
                        using (Html.BeginForm("profitAndLossTotal", "Account", FormMethod.Get,new {@class="form-inline"}))
                        {
                            @Html.Hidden("onlyContributions", onlyContributions)
                            @Html.Label("Start:")
                            <input type="date" name="fecha1" class="hidden-print form-control">
                            @Html.Label("End:")
                            <input type="date" name="fecha2" class="hidden-print form-control">
                            @Html.Hidden("id", id)
                            <input type="submit" value="Show" class="hidden-print btn btn-default" />
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("profitAndLossHouse", "Account", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            @Html.Hidden("onlyContributions", onlyContributions)
                                @Html.Label("Start:")
                                <input type="date" name="fecha1" class="hidden-print form-control">
                                @Html.Label("End:")
                                <input type="date" name="fecha2" class="hidden-print form-control">
                                @Html.Hidden("idHouse", idHouse)
                                <input type="submit" value="Show" class="hidden-print btn btn-default" />
                        }
                    }
            </div>
        </div>
    </div>
    }

@if ((Profit.Count() + Loss.Count()) > 0 || onlyContributions && Contributions.Count() > 0) {
    <button type="button" class="dt-button-print hidden-print btn btn-primary"
            onclick="window.print()">
            <i class="fa fa-print"></i> <span>Print Report</span>
    </button>
    <a href='@Url.Action("ProfitAndLossToExcel","Account", new { id = id, fecha1 = fecha1, fecha2 = fecha2 , onlyContributions = onlyContributions, houseID = idHouse})'
        class="dt-button-print hidden-print btn btn-success">
        <i class="fa fa-file-excel-o"></i> <span>Export To Excel</span>
    </a>
}

@section Scripts{
<script>
    @*Funciones para imprimir cada uno de los paneles de forma independiente*@
    function printPanelIncome() {
        var otherPanelID = "pnlExpenses";
        var pnlToPrint = "pnlIncome";
        printAllBut(otherPanelID, pnlToPrint);
        return 0;
    }
    function printPanelExpenses() {
        var otherPanelID = "pnlIncome";
        var pnlToPrint = "pnlExpenses";
        printAllBut(otherPanelID, pnlToPrint);
        return 0;
    }
    function printAllBut(otherPanelID, pnlToPrint) {
        $("#" + otherPanelID).addClass("hidden-print");
        $("#" + pnlToPrint).removeClass("hidden-print");

        $("#pnlTotals").addClass("hidden-print");
        window.print();
        $("#pnlTotals").removeClass("hidden-print");
        $("#" + otherPanelID).removeClass("hidden-print");
    }
</script>    

}