@model IEnumerable<Sunvalley_PLSystem.Models.Movement>


@{
    ViewBag.Title = "profitAndLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Loss = ViewBag.Loss;
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Profit = ViewBag.Profit;
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Contribution = ViewBag.Contribution;

    Sunvalley_PLSystem.Models.House H = ViewBag.House;
    String id = ViewBag.Id;
    int? idHouse = ViewBag.idHouse;
}



<h2>Profit And Loss</h2>


<div id="imagens" style="display:-webkit-box;">
    <img class="visible-print" src="~/app/img/Sol.png" alt="SUN VALLEY SERVICES" style="margin-left:55%; width:88px;display:block" />
    
    <textarea class="visible-print" rows="4" cols="40" >
        Aqui ira la informacion de sunvalley
    </textarea>
</div>



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@if (Model != null)
{



@*Profit*@
    <div class="panel panel-warning" style="width:100%">
        <div class="panel-heading hidden-print">
            <h4 style="text-align:center;">House Details</h4>
        </div>
        <div class="panel-body">
            <table id="Details" class="table  table-striped table-hover table-responsive">
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                  
                    <th>
                        @Html.DisplayName("Area")
                    </th>
                    <th>
                        @Html.DisplayName("Adress")
                    </th>

                    <th>
                        @Html.DisplayName("City Area")
                    </th>
                    <th>
                       @Html.DisplayName("Country")
                    </th>
                    <th>
                       @Html.DisplayName("State Province")
                    </th>
                   
                   
                </tr>

                @foreach (var item in Profit)
                {
                    <tr>
                        <td >
                            @Html.DisplayFor(modelItem => item.house.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.house.area)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.house.adress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.house.cityArea)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.house.country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.house.stateProvince)
                        </td>
                       
                        @*<td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>*@
                        @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.movementID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.movementID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.movementID })
                </td>*@
                    </tr>
                }

            </table>
        
           
        </div>
    </div>



    <div class="panel panel-warning" style="background-color:white; width:100%">
        <div class="panel-heading hidden-print">
           <h4>Income</h4>

        </div>
        <div class="panel-body">
            <table id="Details" class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th class="hidden">
                            @Html.DisplayNameFor(model => model.house.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.services.name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.transactionDate)
                        </th>
                        <th>
                            @Html.DisplayName("Type")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.balance)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.state)
                        </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.UserID)
                        </th>*@
                       
                    </tr>
                </thead>

                @if (!Profit.Any())
                {
                    <tbody class="hidden-print">
                        <tr><td>No movements were found in the set period</td></tr>
                    </tbody>
                }
                else {

                <tbody>
                    @foreach (var item in Profit)
                    {
                        <tr>
                            <td class="hidden">
                                @Html.DisplayFor(modelItem => item.house.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.services.name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.transactionDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.typeOfMovement)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                            <td>
                               $ @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.balance)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.state)
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>*@
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.movementID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.movementID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.movementID })
                            </td>*@
                        </tr>
                    }
                </tbody>
                }
            </table>
        </div>
        </div>





        @*contributions*@

        <div class="panel-warning" style="background-color:white">
            <div class="panel-heading hidden-print">
                <h4>Contributions</h4>
            </div>
            <div class="panel-body">
                <table id="Details" class="table table-bordered table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            @*<th class="hidden">
                                    @Html.DisplayNameFor(model => model.house.name)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.services.name)
                            </th>

                            <th>

                                @Html.DisplayNameFor(model => model.transactionDate)
                            </th>
                            <th>

                                @Html.DisplayName("Type")
                            </th>

                            <th>
                                $ @Html.DisplayNameFor(model => model.amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.balance)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.state)
                                </th>*@
                            @*<th>
                                    @Html.DisplayNameFor(model => model.UserID)
                                </th>*@

                        </tr>
                    </thead>

                    @if (!Contribution.Any())
                    {
                        <tbody>
                            <tr><td>No movements were found in the set period</td></tr>
                        </tbody>
                    }
                    else {
                        <tbody>
                            @foreach (var item in Contribution)
                            {
                                <tr>
                                    @*<td class="hidd">
                                            @Html.DisplayFor(modelItem => item.house.name)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.services.name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.transactionDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.typeOfMovement)
                                    </td>

                                    <td>
                                        $ @Html.DisplayFor(modelItem => item.amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.balance)
                                    </td>
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.state)
                                        </td>*@
                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.UserID)
                                        </td>*@
                                    @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.movementID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.movementID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.movementID })
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>



        @*loss*@
    <div class="panel-warning" style="background-color:white">
        <div class="panel-heading hidden-print">
            <h4>Expenses</h4>
        </div>
        <div class="panel-body">
        <table id="Details" class="table table-bordered table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th class="hidden">
                        @Html.DisplayNameFor(model => model.house.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.services.name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.transactionDate)
                    </th>
                    <th>
                        @Html.DisplayName("Type")
                    </th>

                    <th>
                       $ @Html.DisplayNameFor(model => model.amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.balance)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.state)
                    </th>*@
                    @*<th>
                            @Html.DisplayNameFor(model => model.UserID)
                        </th>*@
                  
                </tr>
            </thead>
            @if (!Loss.Any())
            {
                <tbody>
                    <tr><td>No movements were found in the set period</td></tr>
                </tbody>
            }
            else {

            <tbody>
                @foreach (var item in Loss)
                {
                    <tr>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.house.name)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.services.name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.transactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeOfMovement)
                        </td>

                        <td>
                           $ @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.balance)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.state)
                        </td>*@
                        @*<td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>*@
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.movementID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.movementID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.movementID })
                            </td>*@
                    </tr>
                }
            </tbody>
            }
        </table>
            </div>
        </div>





    <div class="panel-warning" style="background-color:white">
        <div class="panel-heading hidden-print">
           <h4>Totals</h4>
        </div>
        <div class="panel-body">
        <table id="Details" class="table table-bordered table-hover table-responsive table-striped col-md-12  " style="margin-top:20px;padding:0px;width:50%;">
            <tr>
                <th> @Html.DisplayName("Income")</th>

                <td>
                    $ @ViewBag.TotalProfit
                </td>
            </tr>
            <tr>
                <th> @Html.DisplayName("Expense")</th>

                <td>
                    $ @ViewBag.TotalLoss
                </td>
            </tr>
            @*<tr>
                <th>@Html.DisplayName("Earnings")</th>

                <td>
                    @ViewBag.TotalContribution
                </td>
            </tr>*@
            <tr>
                <th>@Html.DisplayName("Total Profit")</th>
                @if (ViewBag.Total < 0)
                {
                <td style="color:red">
                    $ @ViewBag.Total
                </td>
                }
                else {
                    <td>
                        $ @ViewBag.Total
                    </td>
                }
            </tr>
        </table>
            </div>
        </div>


        }
        else {
        <div class="panel panel-warning">
            <div class="panel-heading hidden-print">
               <h4>Profit and loss Report</h4> 



            </div>
            <div class="panel-body" style="border:solid 1px">
                <h4 style="text-align:center">PLEASE SELECT THE DATES TO CREATE THE REPORT</h4>
                <div class="col-md-6">
                    @if (ViewBag.Tipo == "Total")
                {
                    using (Html.BeginForm("profitAndLossTotal", "Account", "GET"))
                    {
                            @Html.Label("Start")
                            <input type="date" name="fecha1" class="hidden-print">
                            @Html.Label("End")
                            <input type="date" name="fecha2" class="hidden-print">
                            @Html.Hidden("id", id)
                            <input type="submit" value="Show" class="hidden-print" />
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("profitAndLossHouse", "Account", "GET"))
                        {
                            @Html.Label("Start")
                            <input type="date" name="fecha1" class="hidden-print">
                            @Html.Label("End")
                            <input type="date" name="fecha2" class="hidden-print">
                            @Html.Hidden("idHouse", idHouse)
                            <input type="submit" value="Show" class="hidden-print" />
                        }
                    }
                </div>
            </div>
        </div>
        }


<input type="button" class="dt-button-print hidden-print"
       onclick="window.print()"
       value="Print This Report" />