@model IEnumerable<Sunvalley_PLSystem.Models.Movement>

@{
    ViewBag.Title = "profitAndLoss";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Loss = ViewBag.Loss;
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Profit = ViewBag.Profit;
    IEnumerable<Sunvalley_PLSystem.Models.Movement> Contribution = ViewBag.Contribution;

    Sunvalley_PLSystem.Models.House H = ViewBag.House;
    String id = ViewBag.Id;
    int? idHouse = ViewBag.idHouse;

    String mensaje = ViewBag.mensaje;
    String NombreCompleto = ViewBag.NombreCompleto;
    String HAD = ViewBag.HAD;
    String CCSP = ViewBag.CCSP;
    String Apellido = ViewBag.Apellido;

    Boolean? firstSearch = ViewBag.firstSearch!=null?true:false;

    ;
}

<h2>Profit And Loss</h2>

<div class="hidden-print">
    @if (!firstSearch.Value)
    {
        <span class="fa fa-reply hidden-print"></span>
        @Html.ActionLink("Select another period", "profitAndLossHouse", new { idHouse = idHouse })
    }
</div>

<div id="empresa_info" class="row visible-print">
    <div class="col-md-6 pull-right">
        <img id="logo" class="col-md-6" src="~/Imagenes/sunvalley_logo.png" alt="SUN VALLEY SERVICES" />
        <div id="logo_legend" class="col-md-6">
            <p>
                @Html.Raw(mensaje.Replace(Environment.NewLine, "<br/>"))
            </p>
        </div>
    </div>
</div>
<div id="InfoCliente" class="visible-print">
    <div class="col-md-6">
        <div id="InfoCliente" class="visible-print" style="margin-top:-75px;padding-bottom:20px">
            @NombreCompleto<br /> @HAD <br />@CCSP .
        </div>
    </div>
</div>

@if (H != null) { //Si este reporte es por casa
    //Muestro los detalles la casa sobre la que estoy haciendo el reporte
@Html.Partial("../Houses/Partial_HouseDetails",H)
}

@if (Model != null)
{
    @*Profit*@
    <div class="panel panel-warning" style="background-color:white; width:100%">
        <div class="panel-heading">
            Income
        </div>
        <div class="panel-body">
            <table id="" class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.services.name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.transactionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.typeOfMovement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.balance)
                        </th>
                    </tr>
                </thead>

                @if (!Profit.Any())
                {
                    <tbody class="hidden-print">
                        <tr><td>No movements were found in this period.</td></tr>
                    </tbody>
                }
                else
                {

                    <tbody>
                        @foreach (var item in Profit)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.services.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.transactionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.typeOfMovement)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    $ @Html.DisplayFor(modelItem => item.amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.balance)
                                </td>

                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
    
    @*loss*@
    <div class="panel panel-warning" style="background-color:white">
        <div class="panel-heading">
            Expenses
        </div>
        <div class="panel-body">
            <table id="" class="table table-bordered table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th class="hidden">
                            @Html.DisplayNameFor(model => model.house.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.services.name)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.transactionDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.typeOfMovement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.description)
                        </th>

                        <th>
                            $ @Html.DisplayNameFor(model => model.amount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.balance)
                        </th>
                    </tr>
                </thead>
                @if (!Loss.Any())
                {
                    <tbody>
                        <tr><td>No movements were found in this period.</td></tr>
                    </tbody>
                }
                else
                {

                <tbody>
                @foreach (var item in Loss)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.services.name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.transactionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeOfMovement)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>

                        <td>
                            $ @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.balance)
                        </td>

                    </tr>
                }
                </tbody>
                }
            </table>
            </div>
        </div>
    
    @*Total*@
    <div class="panel panel-warning" style="background-color:white">
        <div class="panel-heading">
            Totals
        </div>
        <div class="panel-body">
            <table id="" class="table table-bordered table-hover table-responsive table-striped col-md-12  " style="margin-top:20px;padding:0px;width:50%;">
                <tr>
                    <th> @Html.DisplayName("Income")</th>

                    <td>
                        $ @ViewBag.TotalProfit
                    </td>
                </tr>
                <tr>
                    <th> @Html.DisplayName("Expense")</th>

                    <td>
                        $ @ViewBag.TotalLoss
                    </td>
                </tr>
           
                <tr>
                    <th>@Html.DisplayName("Total Profit")</th>
                    @if (ViewBag.Total < 0)
                    {
                    <td style="color:red">
                        $ @ViewBag.Total
                    </td>
                    }
                    else {
                    <td>
                        $ @ViewBag.Total
                    </td>
                    }
                </tr>
            </table>
        </div>
</div>
    }
    else {
    <div class="panel panel panel-warning">
        <div class="panel-heading hidden-print">
            Profit and loss Report
        </div>
        <div class="panel-body">
            <h4 style="text-align:center">PLEASE SELECT PERIOD TO CREATE REPORT</h4>
            <div class="col-md-12">
                @if (ViewBag.Tipo == "Total")
                {
                    using (Html.BeginForm("profitAndLossTotal", "Account", FormMethod.Get,new {@class="form-inline"}))
                    {
                        @Html.Label("Start:")
                        <input type="date" name="fecha1" class="hidden-print form-control">
                        @Html.Label("End:")
                        <input type="date" name="fecha2" class="hidden-print form-control">
                        @Html.Hidden("id", id)
                        <input type="submit" value="Show" class="hidden-print btn btn-default" />
                    }
                }
                else
                {
                    using (Html.BeginForm("profitAndLossHouse", "Account", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        @Html.Label("Start:")
                        <input type="date" name="fecha1" class="hidden-print form-control">
                        @Html.Label("End:")
                        <input type="date" name="fecha2" class="hidden-print form-control">
                        @Html.Hidden("idHouse", idHouse)
                        <input type="submit" value="Show" class="hidden-print btn btn-default" />
                    }
                }
            </div>
        </div>
    </div>
    }

@if ((Profit.Count() + Loss.Count() + Contribution.Count()) > 0) { 
    <input type="button" class="dt-button-print hidden-print btn btn-primary"
           onclick="window.print()"
           value="Print Report" />
}