@model IEnumerable<Sunvalley_PLSystem.Models.House>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.dataTables.min.js"></script>

@*<h2>Index</h2>*@
<link href="@Url.Content("~/Content/Estilos.css")" rel="stylesheet" type="text/css" />
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <strong style="text-align:center"><h4>All Houses</h4></strong>
            </div>
        <div class="panel-body">
            <table class="table table-striped table-hover col-md-12 table-responsive" style="margin-top:20px;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>*@

                    <th>
                        @Html.DisplayNameFor(model => model.area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.adress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cityArea)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.country)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.postalCode)
                    </th>

                </tr>
                
       
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>*@

                        <td>
                            @Html.DisplayFor(modelItem => item.area)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.adress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cityArea)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.postalCode)
                        </td>
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrador"))
                            {
                                <td>

                                    <span class="fa fa-pencil-square-o"></span>@Html.ActionLink("Edit", "Edit", new { id = item.houseID }) |
                                    <span class="fa fa-reorder"></span>@Html.ActionLink("Movements", "Details", new { id = item.houseID }) |
                                    <span class="fa fa-trash"></span>@Html.ActionLink("Delete", "Delete", new { id = item.houseID })
                                </td>

                            }
                            if (User.IsInRole("Cliente"))
                            {
                                <td>
                                    <span class="fa fa-reorder"></span>@Html.ActionLink("Movements", "Details", new { id = item.houseID })
                                </td>

                            }
                        }
                    </tr>
                }

            </table>
            </div>
        </div>
    </div>

