@model Sunvalley_PLSystem.Models.Movement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    String mensaje = ViewBag.mensaje;
    String NombreCompleto = ViewBag.NombreCompleto;
    String HAD = ViewBag.HAD;
    String CCSP = ViewBag.CCSP;
}

<p class="hidden-print">
    <a href='@Url.Action("Edit", "Edit", new { id = Model.movementID })'>
        <i class="fa fa-reorder hidden-print"></i> Edit
    </a> | 
    <a href='@Url.Action("Details", "Houses", new { id = Model.houseID })'>
        <i class="fa fa-reply hidden-print"></i> Back to House's Movements
    </a>
</p>

<div id="empresa_info" class="row visible-print">
    <div class="col-md-6 pull-right">
        <img id="logo" class="col-md-6" src="~/Imagenes/sunvalley_logo.png" alt="SUN VALLEY SERVICES" />
        <div id="logo_legend" class="col-md-6">
            <p>
                @Html.Raw(mensaje.Replace(Environment.NewLine, "<br/>"))
            </p>
        </div>
    </div>
</div>

<div id="InfoCliente" class="visible-print">
    <div class="col-md-6">

        <div id="InfoCliente" class="visible-print" style="margin-top:-75px;padding-bottom:20px">
            @NombreCompleto<br /> @HAD <br />@CCSP .
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Movement Invoice</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.transactionDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.typeOfMovement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.services.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.amount)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.transactionDate)
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(model => model.typeOfMovement)</strong>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.services.name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.description)
                    </td>
                    <td>
                        <strong>@Html.DisplayFor(model => model.amount)</strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<input type="button" class="btn btn-primary hidden-print" onClick="window.print()" value="Print Invoice" />

@section Scripts {
    <script>
        $(document).ready(function () {
            window.print();
        })
    </script>
}