@model IEnumerable<Sunvalley_PLSystem.Models.Movement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<h2>Index</h2>
<link href="@Url.Content("~/Content/Estilos.css")" rel="stylesheet" type="text/css" />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br>

<div style="text-align:right;">

@using (Html.BeginForm("Index","Movements","POST"))
{
    @Html.Label("Del")
    <input type="date" name="fechaInicio">
    @Html.Label("Al")
    <input type="date" name="fechaFin">
    <input type="submit" value="Mostrar"/>
}


</div>
<table   class="table1" style="margin-top:20px;" id="tableMovements">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.house.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createBy)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.value)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.house.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createBy)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.value)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.movementID }) |
            @Html.ActionLink("Details", "Details", new { id=item.movementID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.movementID })
        </td>
    </tr>
}

</table>
<div style="text-align:right;">
    <button type="button" class="btn btn-success" onclick="javascript: printMovement('printMovement')" style="text-align:right;margin-top:20px">Imprimir</button>
    </div>
    @section Scripts {
        <script>
            function printMovement() {
                var tablePrint = document.getElementById('tableMovements');
                newWin = window.open("");
                newWin.document.write(tablePrint.innerHTML);
                newWin.print();
                newWin.close();
            }

        </script>
    }
