@model IEnumerable<Sunvalley_PLSystem.Models.AccountStatusReport>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table id="Reports"  class="table table-striped table-responsive table-hover" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.house.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateMonth)
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.house.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateMonth)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.dateMonth }) |
            @Html.ActionLink("Details", "Details", new { id=item.dateMonth }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.dateMonth })
        </td>*@
        <td>
            @Html.ActionLink("Report", "Details","Houses", new { id = item.houseID },null)
        </td>
    </tr>

}

</table>
